:root {
    --glass: rgba(255, 255, 255, 0.2);
    --glass-border: rgba(255, 255, 255, 0.5);
    --bg-gradient: linear-gradient(180deg, #4FB83C 0%, #22A1A2 100%);
}

@font-face {
  font-family: 'Dynamo';
  src: url('fonts/Dynamo\ W04\ Bold\ Shadow.ttf') format('truetype');
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('fonts/NetflixSans-Blk.ttf') format('truetype');
}

body{
    background: var(--bg-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* header{
    background: var(--glass);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--glass-border);
    border-radius: 30px;
    padding: 12px 25px;
    gap: 20px;
} */

header h1{
  font-family: 'Dynamo', sans-serif;
  font-size: 100px;
  font-weight: 900;
  -webkit-text-stroke: 0.5px #016061;
  color: #30C1C1; 
  text-align: center;
  margin-bottom: 5px;
}

header p{
    font-family: 'Netflix Sans', sans-serif;
    font-size: 20px;
    color: #eee; 
    text-align: center;
    margin-top: 5px;
}


div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
#insta{
    width: 40px;
    height: 40px;
}

#youtube{
    width: 40px;
    height: 40px;
}

#github{
    width: 40px;
    height: 40px;
}

#insta:hover, #youtube:hover, #github:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
